<footer class="footer1">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-3 col-md-4 col-sm-6 mb--50 d-flex justify-content-sm-start justify-content-center">
				<div class="footer-widget">
					<div class="widget-title">
						<h5>About Company</h5>
					</div>
					<div class="menu-container">
						<ul>
							<li><a>Contact Us <i class='bx bx-up-arrow-alt'></i></a></li>
							<li><a>Terms & Condition <i class='bx bx-up-arrow-alt'></i></a></li>
							<li><a>Privacy & Policy <i class='bx bx-up-arrow-alt'></i></a></li>
							<li><a>Candidate Listing <i class='bx bx-up-arrow-alt'></i></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div
				class="col-lg-3 col-md-4 col-sm-6 mb--50 d-flex justify-content-md-center justify-content-sm-end justify-content-center">
				<div class="footer-widget">
					<div class="widget-title">
						<h5>For Candidates</h5>
					</div>
					<div class="menu-container">
						<ul>
							<li><a>Create Resume <i class='bx bx-up-arrow-alt'></i></a>
							</li>
							<li><a>Browse Categories <i class='bx bx-up-arrow-alt'></i></a>
							</li>
							<li><a>Notifications Section <i class='bx bx-up-arrow-alt'></i></a>
							</li>
							<li><a>Browse Jobs <i class='bx bx-up-arrow-alt'></i></a></li>
							<li><a>Candidate Dashboard <i class='bx bx-up-arrow-alt'></i></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div
				class="col-lg-3 col-md-4 col-sm-6 mb--50 d-flex justify-content-lg-center justify-content-md-end justify-content-sm-start justify-content-center">
				<div class="footer-widget">
					<div class="widget-title">
						<h5>For Employers</h5>
					</div>
					<div class="menu-container">
						<ul>
							<li><a href="/jobs/new">Post A Job <i class='bx bx-up-arrow-alt'></i></a></li>
							<li><a>Browse Candidates <i class='bx bx-up-arrow-alt'></i></a></li>
							<li><a>Job Packages <i class='bx bx-up-arrow-alt'></i></a></li>
							<li><a>Jobs Featured <i class='bx bx-up-arrow-alt'></i></a>
							</li>
							<li><a>Employer Dashboard <i class='bx bx-up-arrow-alt'></i></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div
				class="col-lg-3 col-md-4 col-sm-6 d-flex justify-content-lg-end justify-content-md-center justify-content-sm-end justify-content-center">
				<div class="footer-widget four">
					<div class="widget-title">
						<h5>Download App</h5>
					</div>
					<div class="app-list">
						<ul>
							<li>
								<a href="#"><img src="/assets/images/icon/apple-app.svg" alt=""></a>
							</li>
							<li>
								<a href="#"><img src="/assets/images/icon/google-play.svg" alt=""></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-btm"></div>
	</div>
</footer>