<%- include('partials/header'); -%>
<div class="error-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="error-wrapper">
                    <div class="error-img">
                        <img class="img-fluid" src="/assets/images/bg/404.svg" alt="">
                    </div>
                    <div class="error-content-area text-center">
                        <h2>Oops... Page Not Found</h2>
                        <div class="error-btn">
                            <a class="primry-btn-2 lg-btn " href="/">Back to Homepage</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('partials/footerBox'); -%>
<%- include('partials/footer'); -%>